= javascript_include_tag "rdioscripts.js"

%h1= @playlist.name
#playlist_key= @playlist.rdio_key
%p Add a few songs to build up your playlist and then press start when you're ready to get started

%button#start start

#rdioPlayer{ :style => "display:none" }
  #songInfo
    %img#art{ :src=>"", :height=>"100", :style=>"float:left;margin-right:20px;" }

    %b Track:
    #track
    %b Artist:
    #artist
    %b Position:
    %span{ :style => "display:inline-block;width:200px;border:1px solid black;" }
      %span#position{ :style => "display:inline-block;background-color:#666" }

  #playbackControls
    -# %button#previous previous
    %button#play play
    %button#pause pause
    -# %button#next next






